@charset "utf-8";
/*인코딩형식*/
/* athe 공통 CSS - common.css */


.wrap {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;


}



/*헤더영역(sub페이지)*/
.header {
    position: relative;
    width: 100%;
    height: 300px;
    background: url(../images/header_bg.png)no-repeat center/cover;
}



/*로고*/
.logo {
    position: absolute;
    left: 1%;
    top: 2%;
}

.logo img {
    width: 40%;
}



/*메뉴클릭시 나오는 창******************************/
.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/menu_bg.png)no-repeat 0 100%/cover;
    z-index: 99999;
    display: none;
}

/*메뉴오버시 애니메이션*/
.hamburger {
    position: absolute;
    right: 1%;
    top: 2%;
    display: -webkit-box;
    display: flex;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 55px;
    height: 25px;
    cursor: pointer;
}

.hamburger div {
    align-self: flex-end;
    height: 3px;
    width: 100%;
    background: #2E2E2E;
}

.hamburger .meat {
    width: 75%;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.hamburger .bottom-bun {
    width: 50%;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.hamburger:hover div {
    width: 100%;
}

.hamburger:hover .top-bun {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate;
    animation: burger-hover 1s infinite ease-in-out alternate;
}

.hamburger:hover .meat {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
    animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}

.hamburger:hover .bottom-bun {
    -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
    animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

@-webkit-keyframes burger-hover {
    0% {
        width: 100%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@keyframes burger-hover {
    0% {
        width: 100%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}


/*닫기버튼*/
#cbtn {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 30px;
    height: 30px;
    background: url(../images/cbtn.png)no-repeat center;

}

/*메뉴*/
.mlist {
    display: flex;
    flex-direction: column;

    margin-top: 6%;
    margin-left: 52%;
}

.mlist li {

    font-size: 5.625rem;
    font-weight: bold;
    line-height: 2;
}

.mlist a {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

/*메뉴오버시*/
.mlist a:hover {
    -webkit-text-fill-color: #fff;
}

.mlist p {
    color: #fff;
    display: inline;
    font-size: 23px;
    font-weight: normal;
    display: none;
}

.nolist:hover p {
    display: inline-block;
}


/*푸터**************************************/
footer {
    background-color: #AF655A;

    color: #fff;
}

.footer_wrap {
    /*    outline: 1px solid #000;*/
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}


/*푸터왼쪽박스*/
.lbox img {
    margin: 26px 0 0 0;
    width: 50%;
}

.cotus {
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.cotus big {
    display: block;
    font-size: 1.25rem;
}

.lbox span {
    width: 96%;
    height: 32px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 32px;

}

.lbox span a {
    color: #fff;
}

/*푸터중간박스*/
.mbox {
    margin-top: 37px;
    line-height: 2;
    font-size: 15px;
}

.mbox address {
    font-style: normal;
}



/*푸터오른쪽박스*/
.rbox {
    position: relative;
    width: 26%;
    /*    outline: 1px solid #000;*/
    text-align: right;
}





/*sns*/
.sns_box {
    position: absolute;
    left: 4px;
    bottom: 10%;
}

.sns_box a {
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px;
}

.sns_box a:last-child {
    margin-right: 0;
}

/*링크*/
.link {
    display: flex;
    justify-content: space-between;
    font-size: 0.9375rem;
    position: absolute;
    left: 0;
    bottom: 2%;
}

.link li {
    margin: 0 10px;
}

.link li:last-child {
    margin-right: 0;
}

.link a {
    color: #fff;
}


/*위로퀵버튼*/
.top_btn {
    display: block;
    position: absolute;
    right: -22%;
    top: 0;
    animation: tbtn 1.5s infinite;
    top: 15px;
}


@keyframes tbtn {
    from {}

    to {
        top: 0;

    }
